.container {
    display: block;
}

.card {
    box-shadow: 1px 2px 6px 1px var(--shadow-color);
    min-height: 140px;
    border-radius: 20px;
    padding: 10px;
}

#open {
    border-left: solid 20px var(--accept);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#close {
    border-left: solid 20px var(--error);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#all {
    border-left: solid 20px var(--border);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.id {
    margin: 8px;
}

.titleDiv {
    display: flex;
}

.main {
    margin: 5px;
    padding-top: 5px;
}

.item {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}



h1 {
    font-size: 1.5rem;
    margin: 5px;
}

span {
    color: var(--text-h);
}